<ion-header>
  <ion-navbar>
    <ion-title>Character Entry</ion-title>
    <ion-buttons end>
      <button ion-button (click)="dismiss()">Done</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form>
    <ion-slides>
      <ion-slide>
        <h4>General</h4>
        <ion-item>
          <ion-label floating>Name</ion-label>
          <ion-input name="name" clearInput [(ngModel)]="character.name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-select class="fullWidth" text-left name="characterType" [(ngModel)]="character.characterType">
            <ion-option *ngFor="let characterType of characterTypeNames; index as index" [value]="index">
              {{characterType}}
            </ion-option>
          </ion-select>
        </ion-item>
        <ng-template [ngIf]="character.isPlayerCharacter">
          <ion-item>
            <ion-select class="fullWidth" text-left name="classType" [(ngModel)]="character.classType">
              <ion-option *ngFor="let className of classNames; index as index" [value]="index">
                {{className}}
              </ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-select class="fullWidth" text-left name="background" [(ngModel)]="character.backgroundType">
              <ion-option *ngFor="let background of backgroundNames; index as index" [value]="index">
                {{background}}
              </ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>Experience</ion-label>
            <ion-input name="experience" [(ngModel)]="character.experience" type="number"></ion-input>
          </ion-item>
        </ng-template>
      </ion-slide>

      <ion-slide>
        <h4>Statistics</h4>
        <ion-item *ngFor="let index of [0,1,2,3,4,5]">
          <ion-label>
            {{statisticStrings[index]}}
            <span *ngIf="character.hasSavingThrow(index)">(+)</span>
          </ion-label>
          <ion-input [name]="statisticStrings[index]" [(ngModel)]="character.statistics[index]" type="number"></ion-input>
        </ion-item>
        <button ion-button block margin-top (click)="presentSavingThrowList()">
          Edit Saving Throws
        </button>
      </ion-slide>

      <ion-slide>
        <h4>Combat</h4>
        
        <ion-item>
          <ion-label>Armor Class</ion-label>
          <ion-input name="armorClass" [(ngModel)]="character.armorClass" type="number"></ion-input>
        </ion-item>
        <ion-item *ngIf="character.isPlayerCharacter">
          <ion-label>Current HP</ion-label>
          <ion-input name="hitPoints" [(ngModel)]="character.hitPoints" type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Max Health</ion-label>
          <ion-input name="maxHealth" [(ngModel)]="character.maxHealth" type="number"></ion-input>
        </ion-item>
        <ion-item *ngIf="character.isPlayerCharacter">
          <ion-label>Current Hit Die</ion-label>
          <ion-input name="currentHitDie" [(ngModel)]="character.currentHitDie" type="number"></ion-input>
        </ion-item>
      </ion-slide>

      <ion-slide>
        <h4>Skills</h4>
        <ion-list>
          <ion-list-header item-start>Proficient</ion-list-header>
          <button ion-item *ngFor="let skill of character.skills" (click)="removeSkill(skill)">
            {{skillNames[skill]}}
          </button>
          <ion-list-header item-start>Unproficient</ion-list-header>
          <button ion-item *ngFor="let skill of inactiveSkills" (click)="addSkill(skill)">
            {{skillNames[skill]}}
          </button>
        </ion-list>
      </ion-slide>
    </ion-slides>
  </form>
</ion-content>
