<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{character.name}}</ion-title>
    <ion-buttons end>
      <button
          ion-button
          icon-only
          large
          margin-right
          [color]="characterTypeColor"
          (click)="showCharacterType()">
        <ion-icon name="contact"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-segment [(ngModel)]="section">
    <ion-segment-button *ngIf="character.isPlayerCharacter" value="general">General</ion-segment-button>
    <ion-segment-button value="stats">Stats</ion-segment-button>
    <ion-segment-button value="combat">Combat</ion-segment-button>
    <ion-segment-button value="skills">Skills</ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content padding>
  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="presentCharacterEntryModal()">
      <ion-icon name="create"></ion-icon>
    </button>
  </ion-fab>

  <div [ngSwitch]="section">
    <ion-list *ngSwitchCase="'general'">
      <ion-item>
        Class
        <span item-end>{{character.class}}</span>
      </ion-item>
      <ion-item>
        Background
        <span item-end>{{character.background}}</span>
      </ion-item>
      <ion-item>
        Level
        <span item-end>{{character.level}}</span>
      </ion-item>
      <ion-item margin-bottom>
        Experience
        <span item-end>{{character.experience}}/{{character.nextLevelExperience}}</span>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'stats'">
      <ion-item *ngFor="let index of [0,1,2,3,4,5]"
          [ngClass]="savingThrowClass(index)">
        {{statisticStrings[index]}}
        <span item-end>{{character.statistics[index]}} ({{character.getModifier(index)}})</span>
      </ion-item>
      <ion-item margin-top>
        Passive Perception
        <span item-end>{{character.passivePerception}}</span>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'combat'">
      <ion-item>
        Armor Class
        <span item-end>{{character.armorClass}}</span>
      </ion-item>
      <ion-item>
        Health
        <span item-end class="health">{{character.health.current}}/{{character.health.max}}</span>
      </ion-item>
      <ion-item *ngIf="character.isPlayerCharacter">
        Hit Die
        <span item-end>{{character.currentHitDie}}/{{character.level}} (d{{character.hitDieType}})</span>
      </ion-item>
      <ion-item>
        Initiative Bonus
        <span item-end>{{character.initiative}}</span>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'skills'">
      <ion-item *ngFor="let skill of character.skills">
        {{skillNames[skill]}}
      </ion-item>
    </ion-list>
  </div>
</ion-content>
