page-character-detail {
    .saving-throw {
        color: color($colors, secondary);
    }

    .health {
        color: color($colors, danger);
    }

    ion-buttons {
        ion-icon {
            font-size: 200%;
        }
    }
}
