<ion-item-divider *ngIf="!isIndividual" color="light">
  {{group.name}}
  <ion-badge item-end color="secondary" margin-right>{{group.initiative}}</ion-badge>
</ion-item-divider>
<button ion-item 
    [attr.padding-left]="isIndividual ? null : ''"
    *ngFor="let member of group.members; index as index"
    [ngClass]="memberClasses(index)">
  {{member.name}}
  <ion-badge margin-left color="danger">{{member.health.current}}/{{member.health.max}}</ion-badge>
  <ion-badge *ngIf="isIndividual" item-end color="secondary">{{group.initiative}}</ion-badge>
</button>
